.book-list-item .book-cover{
    width: 100%;
    text-align: center;
}
.book-list-item .book-cover img{
    height: 270px;
    max-width: 100%;
}
.book-list-item .book-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.book-list-item .book-details .book-title{
    font-size: 1.2rem;
}
.book-list-item .book-details .book-author{
    font-size: 1rem;
}
.book-list-item .book-details .book-price{
    font-size: 1.4rem;
}