.book-list-item{
    display: flex;
}
.book-list-item .book-cover{
    width: 100px;
    flex-shrink: 0;
    margin-right: 30px;
}
.book-list-item .book-cover img{
    max-width: 100%;
}
.book-list-item .book-details{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.book-list-item .book-details .book-title{
    font-size: 1.2rem;
}
.book-list-item .book-details .book-author{
    font-size: 1rem;
}
.book-list-item .book-details .book-price{
    font-size: 1.4rem;
}